// Color theme variables
$primary-color: #FF0000;
$secondary-color: #CC0000;
$accent-color: #3B4CCA;
$highlight-color: #FFDE00;
$neutral-color: #B3A125;
$background-color: $secondary-color;
$text-color: #ffffff;